---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import Search from "@components/Search";

const title = "Search"
const description = "Search across all my articles and projects."

const posts = (await getCollection("blog")).filter((post) => !post.data.draft);

const projects = (await getCollection("projects")).filter(
  (post) => !post.data.draft && post.data.lang === "en",
);

const data = [...posts, ...projects] as CollectionEntry<"blog">[];
---

<PageLayout title={title} description={description}>
  <TopLayout>
    <div class="animate page-heading">
      {title}
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <Search client:load data={data} locale="en" />
    </div>
  </BottomLayout>
</PageLayout>
